body{
    font-family: "Fira Code", sans-serif; /* Fall Back, caso o carregamento de uma fonte falhe a uma outra opção*/
}

body, h1, h2, h3, figure {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    border: none;
    font-family: inherit; /* herda a propriedade do pai */
}