#logo {
    margin: 0px;
    display: inline-flex;
    align-items: center;
    color: #828282;
    font-size: 22px;
    font-family: "Press Start 2P", sans-serif;
    text-shadow: 4px 4px 0px #000;
    transition: all 0.3s ease-in-out; /* Aplica em todas as propriedades alteradas (ease-in-out = tanto pra entrada quanto saida)*/
}

/* img { 
    height: 62px;
    width: 62px;

} */

#logo:hover{
    cursor: pointer;
    transform: scale(1.1);
}
