.main_section{
    box-sizing: border-box;
    background-color: #696969;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%  ;
    border-bottom: 10px solid #4F4F4F;
    padding-top: 50px;
    padding-bottom: 100px;
}

.main_section .wrapper{
    padding-top: 150px;
    display: inline-block;
    width: 740px;

}

.main_section .main_title {
    margin-bottom: 60px;
}

.main_section.-description .main_title {
    margin-bottom: 30px;
}

.main_section.-bgBlack {
    background-color:  #000;
}

.main_section.-bdBlack {
    border-color: #000;
}

.main_section.-bgSlateGrey {
    background-color: #708090;
    border-color: #000;
}

.main_section.-bdFirstColor {
    border-color: #696969;
}

.main_section.-project .main_title {
    margin-bottom: 40px;
}