.main_button {
    display:inline-block;
    background-color: #828282;
    border-radius: 3px;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0;
    transition: all 0.3s ease-in;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.main_button:hover {
    background-color: #696969;
    font-size: 20px;
    color: #000;
    box-shadow: none;
    /* transform: scale(1.05); */
}

.main_button.-full {
    width: 100%;
}