.main_action {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
.main_action::before {
    content: "";
    background-color: #828282;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.main_action:hover {
    color: #000;
}

@media (max-width: 980px){
    .main_action:hover {
        color: #828282;
    }
}