.main_banner{
    box-sizing: border-box;
    background-image: url(../../assets/img/background2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px   ;
    border-bottom: 10px solid #000;
    padding-top: 115px;
    padding-left: 90px;
}

.main_banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 740px;

}

.main_banner .box {
    margin-bottom: 40px;
   
}

.main_banner .navigation{
    display: flex;
    justify-content: space-around;

}
