.main_logo {
    margin: 0px;
    display: inline-flex;
    align-items: center;
    color: #828282;
    font-size: 22px;
    font-family: "Press Start 2P", sans-serif;
    text-shadow: 4px 4px 0px #000;
    transition: all 0.3s ease-in-out; /* Aplica em todas as propriedades alteradas (ease-in-out = tanto pra entrada quanto saida)*/
}

.main_logo .logo {
    text-decoration: none;
    color: #828282;
}

.main_logo:hover{
    cursor: pointer;
    transform: scale(1.1);
}
