.main_box{
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 10px 10px 0px #000;
    text-align: center;
    padding: 42px 44px;
}

.main_box .main_title{
    margin-bottom: 28px;
}

@media (max-width: 914px){
    .main_box .main_title{
        font-size: 28px;
    }
    .main_box .subtitle{
        font-size: 20px;
    }
}

@media (max-width: 744px){
    .main_box .main_title{
        font-size: 18px;
    }
    .main_box .subtitle{
        font-size: 10px;
    }
}
