.section{
    box-sizing: border-box;
    background-color: #696969;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 760px   ;
    border-bottom: 10px solid #4F4F4F;
    padding-top: 50px;
    padding-bottom: 100px;
}

.section .wrapper{
    padding-top: 150px;
    display: inline-block;
    width: 740px;

}

.section .main_title {
    margin-bottom: 60px;
}

.section_project .main_title {
    margin-bottom: 60px;
}

.section.-bgBlack {
    background-color:  #000;
}

.section.-bdFirstColor {
    border-color: #696969;
}