.skill_tec {
    display: flex;
    font-family: "Press Start 2P", sans-serif;
    font-size: 25px;
    color: #fff;
    
}

.skill_tec .icon {
    margin-right: 25px;
}

.skill_tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
