.wrapper_skill{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper_skill .skill_tec{
    width: 430px;
    margin-bottom: 40px;
}

.wrapper_skill .skill_tec:nth-child(odd){ /* Aplica a margen nos elementos skill_tec impares */
    margin-right: 100px;
}

.wrapper_skill .progress_bar{
    width: 320px;
}

@media (max-width: 1023px){
    .wrapper_skill{
        max-width: 500px;
        flex-direction: column;
        align-content: center;
    }

    .wrapper_skill .skill_tec:nth-child(odd){ /* Aplica a margen nos elementos skill_tec impares */
        margin-right: 0px;
    }
}

@media (max-width: 500px){

    .wrapper_skill .skill_tec{
        max-width: 300px;
        margin-bottom: 20px;
    }

    .wrapper_skill .progress_bar{
        width: 200px;
    }

    .wrapper_skill .skill_tec .title{
        font-size: 19px;
        margin-bottom: 10;
    }

    .wrapper_skill .skill_tec .icon {
        margin-right: 25px;
        height: 60px;
        width: 60px;
    }
    
}